@{
    ViewBag.Title = "DETROIT FOOD FINDER";
    ViewBag.Message = "Food doesn't have to go to the trash bin!";
}
<h1>@ViewBag.Title.</h1>
<h2>@ViewBag.Message</h2>

<address>
    Detroit Food Finder<br />
    1520 Woodward Ave.
    Detroit, MI 48226<br />
    <abbr title="Phone">P:</abbr>
    313.555.1212
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Info@DetroitFoodFinder.com">info@DetroitFoodfinder.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@DetroitFoodFinder.com">info@DetroitFoodfinder.com</a>
</address>