USE [master]
GO
/****** Object:  Database [DFF]    Script Date: 2016/10/14 15:27:59 ******/
CREATE DATABASE [DFF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DFF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DFF.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DFF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DFF_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DFF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DFF]
GO
/****** Object:  Table [dbo].[DonationData]    Script Date: 2016/10/14 15:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationData](
	[DonationID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[FoodType] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
	[PickupDate] [date] NOT NULL,
	[PickupTime] [time](7) NOT NULL,
 CONSTRAINT [PK_Donation] PRIMARY KEY CLUSTERED 
(
	[DonationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MatchUp]    Script Date: 2016/10/14 15:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchUp](
	[MatchID] [int] IDENTITY(1,1) NOT NULL,
	[DonationID] [int] NOT NULL,
	[ReceiverID] [int] NOT NULL,
 CONSTRAINT [PK_MatchUp] PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReceiverData]    Script Date: 2016/10/14 15:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiverData](
	[ReceiverID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_ReceiverData] PRIMARY KEY CLUSTERED 
(
	[ReceiverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[MatchUp]  WITH CHECK ADD  CONSTRAINT [FK_MatchUp_DonationData] FOREIGN KEY([DonationID])
REFERENCES [dbo].[DonationData] ([DonationID])
GO
ALTER TABLE [dbo].[MatchUp] CHECK CONSTRAINT [FK_MatchUp_DonationData]
GO
ALTER TABLE [dbo].[MatchUp]  WITH CHECK ADD  CONSTRAINT [FK_MatchUp_ReceiverData] FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[ReceiverData] ([ReceiverID])
GO
ALTER TABLE [dbo].[MatchUp] CHECK CONSTRAINT [FK_MatchUp_ReceiverData]
GO
USE [master]
GO
