@{
    ViewBag.Title = "About DFF";
}
<h1>@ViewBag.Title</h1>
<br/>
<br/>
<h2>@ViewBag.Message</h2>

<br/>
<br/>
<p class="formnote"><h2> <b>MISSION:</b></h2> <h3> Help to Reduce Food Waste.</h3></p>
<br/>
<br/>
<p class="formnote"><h2><b> VISION:</b></h2> <h3>Developers observed that after a business luncheon, the leftover food was simply thrown into the trash. This act of waste caused a heated debate in the gathering about how wrong it is to waste food. One Developer proposed a challenge.Createe an App to match companies that have leftover food from functions with organizations and individuals that have a need need.</h3></p>
<br/>
<br/>
<p class="formnote" ><b><h4>BOTTOM LINE: Food doesn't have to go into the Trash Bin!</h4></b></p>
