@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p class="formnote"><b>VISION:</b> A group of Developers noticed that after a business luncheon, the leftover food was simply thrown into the trash. This caused a heated debate that this was just wrong. One Developer proposed a challenge.Why not have an App to match companies that have leftover food from functions with organizations and individuals in need.</p>

<p class="formnote" ><b>MISSION:</b> To Reduce Food Waste.</p>

<p class="formnote" ><b>BOTTOM LINE:</b> Food doesn't have to go into the Trash Bin!</p>
