@model DFF.Models.EmailFormModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Detroit Food Finder<br />
    Suite 420
    Detroit, MI.  48226<br />
    <abbr title="Phone">P:</abbr>
    313.338.5555
</address>
<address>
    Office Hours: 9:00am - 6:00pm EST <br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:DFSupport@DFFinder.com">DFSupport@DFFinder.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:DFMarketing@DFFinder.com">DFMarketing@DFFinder.com</a>
</address>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Send your comments.</h4>
    <hr />
    <div>
        Enter Name: <input type="text" name="name" /><br />

        Enter email :<input type="text" name="toemail" /><br />
        
        Enter Message<input type="text" name="comments" /><br />
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Send" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}