@{
    ViewBag.Title = "Reach DFF";
}
<h1>@ViewBag.Title</h1><br />
<br />
<h2>@ViewBag.Message</h2>


    <address>
        <font size="5">
            Detroit Food Finder 
        </font><br />
        <font size="4">
            1540 Woodward Ave.
            Detroit, MI.  48226<br />
            <abbr title="Phone">P:</abbr>
            313.338.5555

            <br/><br/>
            
            Office Hours: 9:00am - 6:00pm  <br />
            <br /><br />


            <strong>Support:</strong>   <a href="mailto:DFSupport@DFFinder.com">DFSupport@DFFinder.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:DFMarketing@DFFinder.com">DFMarketing@DFFinder.com</a>
        </font>
</address>