
@{
    ViewBag.Title = "DFF faq";
}

<h1>@ViewBag.Title</h1>
<br />
<br />
<h2>@ViewBag.Message</h2>
<br />
<br/>
<style>
    div.formnote{
    font-size="3";
}
</style>
<pre class="formnote">
   
    <b>What is Detroit Food Finder?</b>
    <br />
    <i>Detroit Food Finder (DFF) is a service that matches business and corporations with excess food from organizational functions doing business in the
       Detroit Downtown area with individuals and organizations that have a need for the donation.</i>
    <br />
    <b>How do I donate to Detroit Food Finder?</b>
    <br />
    <i>The donor must first register with DFF before they can donate. Organizations interested in donating thru DFF should login in on the home page at
       www.DetroitFoodFinder.net. Click on the Donate Button and go to the Donation Page. Fill in the Donation Page and click on the submit button.</i>
    <br />
    <b>How do I get a donation from Detroit Food Finder?</b>
    <br />
    <i>The receipent must first register with DFF before they can receive a donation. Organizations with an interest in using DFF Matchup service should
       login on the homepage www.DetroitFoodFinder. Click on the Post Donation button and proceed to the  Donations homepage. Select a donation under the
       Make a Request column. The Request Form panel will display. Enter the requested information and  click on the Confirm button. You will receive an
       email with the concact information.</i>
    <br />
    <b>How many times can I sign up to get a donation?</b>
    <br />
    <i>There are no limits on how many times a Receipients can sign up to receive donations .</i>
    <br />
    <b>How do I cancel my donation?</b>
    <br />
    <i>The donor will receive an email to confirm their donation. The email contains a link to remove a posted donation.</i>
    <br />
    <b>What are your operating hours?</b>
    <br />
    <i> M - F   9:00   - 5:00 PM</i>
    <br />
    <b>Does the donor organization get to choose what organization receives their donation?</b>
    <br />
    <i>The doner has the option to choose which organization or individual receives the donation. The donor also has the option to select one of the listed
       charities to receive their donation.</i>
    <br />
    <b>Can a group of receivers combine to receive a donation?</b>
    <br />
    <i>Yes receivers can combine to make a donation request as a group.</i>
</pre>

