
@{
    ViewBag.Title = "Help";
}

<h1>@ViewBag.Title</h1><br />
<br />
<h2>@ViewBag.Message</h2>
<br />
<br />
<p><h4> Check the DFF faq page if you have questions</h4></p>
<br />
<br />
<p> For additional information: </p>
<strong>Information:</strong>   <a href="mailto:info@DFFinder.com">DFinformation@DFFinder.com</a>