
@{
    ViewBag.Title = "DonationSuccess";
}

<h2>Donation Posted Successfully!</h2>
<h3>A confirmation email will be sent to your email address.</h3><br />
<p><a href="/Donations" style="color:#1360a2">Return to view donations</a>

